:root {
  --bg-dark-color: rgb(40, 40, 40);
  --font-dark-theme: whitesmoke;
  --blue-main: rgb(93, 119, 252);
}


body {
  color: var(--font-dark-theme) !important;
  background-color: var( --bg-dark-color) !important;
  min-height: 100vh;
  overflow-x: hidden; /* Prevents horizontal overflow */
  width: 100%; /* Ensures the body takes up full width */
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  color: var(--font-dark-theme);
  margin: 0
}

p {
  font-family: 'sans-serif';
  margin: 0;
}

.vh-100 {
  min-height: 100%;
}

.text-blue {
  color: var(--blue-main) !important;
}

/* RESET BOOSTRAP */

@media (prefers-color-scheme: light) {
  button {
      background-color: transparent !important;
  }
}

.btn {
  font-family: 'sans-serif' !important;
}

button {
  font-family: 'sans-serif' !important;
  border-radius: 4px !important;
  border: 1px solid var(--font-dark-theme) !important;
  color: var(--font-dark-theme) !important;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border: 1px solid var(--blue-main) !important;
  color: var(--blue-main) !important;
}

.btn:hover {
  background-color: transparent !important;
  border: 1px solid var(--blue-main) !important;
  color: var(--blue-main) !important;
}

.btn.active-filter {
  background-color: var(--blue-main) !important;
  border: 1px solid var(--blue-main) !important;
  color: white !important;
}

.outline-badge {
    --bs-bg-opacity: 0 !important;
    background-color: transparent !important;
    font-weight: 500 !important;
    border: 1px solid rgb(200, 200, 200) !important;

}

.outline-blue-badge {
  --bs-bg-opacity: 0 !important;
    background-color: transparent !important;
    font-weight: 500 !important;
    border: 1px solid var(--blue-main) !important;
    color: var(--blue-main) !important;
}

.bi-arrow-up-right-circle-fill:hover {
  color: whitesmoke !important;
}

/*  end reset boostrap */
a {
  font-family: 'sans-serif';
  font-weight: 500;
  color: var(--blue-main) !important;
  text-decoration: none !important;
}

a:hover {
  color: whitesmoke !important;
  text-decoration: none;
}
